/*!
 * by Naiara Abaroa @nabaroa
 * version: 1.0.0;
 * http://naknak.me/fromSassToScss
 * MIT licensed
 *
 */

/*---------------------------------------------
 * Import example
 *---------------------------------------------- */
/*---------------------------------------------
 * Custom properties
 *---------------------------------------------- */
:root {/*---------------------------------------------
   * Colors
   *---------------------------------------------- *//*Greyscale*/
}
/*---------------------------------------------
 * Sass sintax variables
 *---------------------------------------------- */

/*---------------------------------------------
 * var example
 *---------------------------------------------- */
.color {
  color: #f2b806;
}

.color-var-sass {
  color: #000;
}

/*---------------------------------------------
 * nesting example
 *---------------------------------------------- */
.nak .naknak {
  color: #f2b806;
}
