/*!
 * by Naiara Abaroa @nabaroa 
 * version: 1.0.0;
 * http://naknak.me/fromSassToScss
 * MIT licensed 
 *  
 */

/*---------------------------------------------
 * Import example
 *---------------------------------------------- */
@import "helpers/var.css";

/*---------------------------------------------
 * var example
 *---------------------------------------------- */
.color {
  color: var(--color);
}

.color-var-sass {
  color: $color;
}

/*---------------------------------------------
 * nesting example
 *---------------------------------------------- */
.nak {
  .naknak {
    color: var(--color);
  }
}